.header {
  background: #28282b;
  color: #f1f7ed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 40px;
}

.menu-btn {
  display: flex;
}
.menu-btn p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  text-decoration: none;
}

.logo {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
}

.logo-name {
  margin: 0px;
  padding-left: 20px;
}

.menu-btn a:link,
.menu-btn a:visited {
  background-color: #28282b;
  color: #f1f7ed;
  text-align: center;
  text-decoration: none;
}

.menu-btn a:hover,
.menu-btn a:active {
  background-color: #828285;
}
